html {
    height: 100%;
}body{
     background-color: #fafafa;
    height: auto;
    min-height: 100%;
     position: relative;
}
.btn-medium {
    color: #999999;
    border: 1px solid #999999;
    padding: 10px 15px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
}
.btn-medium:hover {
    opacity: 1;
    text-decoration: none;
    color: #999999;
}
.btn-treehouse {
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    font-weight: bold;
    background: #6AD58B;
    transition: background 0.3s ease;
}
.btn-treehouse:hover {
    opacity: 1;
    background: #3ac162;
    text-decoration: none;
    color: white;
}
/* Main navbar */
.navbar-wagon {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
    background: white;
    transition: all 0.3s ease;
    height: 70px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* Logo */
.navbar-wagon-brand img {
    height: 50px;
}

/* User Avatar */
.navbar-wagon .avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Basic navbar item */
.navbar-wagon-item {
    cursor: pointer;
    padding: 0 20px;
}

/* Navbar link */
.navbar-wagon-link {
    color: #616668;
    font-size: 14px;
}
.navbar-wagon-link:hover {
    color: #2ecc71;
    text-decoration: none;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
    margin-top: 15px;
    box-shadow: 1px 1px 4px #E6E6E6;
    border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
    transition: color 0.3s ease;
    font-weight: lighter !important;
    color: #999999 !important;
    font-size: 15px !important;
    line-height: 22px !important;
    padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
    background: transparent !important;
    color: black !important;
}
.navbar-wagon-dropdown-menu:before {
    content: ' ';
    height: 10px;
    width: 10px;
    position: absolute;
    right: 10px;
    top: -6px;
    background-color: white;
    transform: rotate(45deg);
    border-left: 1px solid #E6E6E6;
    border-top: 1px solid #E6E6E6;
}
section{
    width: 100%;
    margin: 0px;
}
.banner{
    /*position: absolute;*/
    height: 400px;
    width: 100%;
    background-image: linear-gradient(-225deg, rgba(235, 235, 224,0.8) 0%, rgba(0,36,61,0.4) 50%), url("../img/bgProduits.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    /*background-attachment: fixed;*/
}
.banner-content{
    position: relative;
    padding-left:50px;
    padding-top: 75px;
    color: white;
}
.title{

    font-size: 75px;
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}
.banner-text{
    font-size: 25px;
}
.banner-btn{

    padding-left: 105px;
}
.lastProd{
    background-color: #2ecc71;
    padding-bottom: 30px;

}
.lastProd-title{
    color: white;
    font-size: 40px;

    border-bottom: 5px white solid;
    border-radius: 10px;
    width: 50%;
    padding-right: 150px;

}

/* slide produit */
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #F5F5DC;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #2ecc71;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}
[data-slide="prev"]
{
    margin-right: 10px;
}
.btn-add a:hover{

    color: #2ecc71;
}
.partner{
    height:300px;
    background-color: white ;
}
.contact{
    background-color: #2ecc71;
    padding-bottom: 30px;
}

/* footer */
.footer {
    background: #263238;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

}
.footer-links {
    display: flex;
    align-items: center;
}
.footer-links a {
    color: white;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
}
.footer-links a:hover {
    opacity: 1;
}
.footer .fa-heart {
    color: #D23333;
}
.border{
    border-right:1px #e0e0e0 solid;
    height:70vh;
    padding-right: 70px;

}.bg-titre{
     background-color: #2ecc71;
    height:42px;
 }
/*----------------------
Product Card Styles
----------------------*/
.panel.panel--styled {
    background: white;
}
.panelTop {
    padding: 30px;
}

.panelBottom {
    border-top: 1px solid #e7e7e7;
    padding-top: 20px;
}
.btn-add-to-cart {
    background: #2ecc71;
    color: #fff;
}
.btn.btn-add-to-cart.focus, .btn.btn-add-to-cart:focus, .btn.btn-add-to-cart:hover  {
    color: #fff;
    background: #3ac162;
    outline: none;
}



span.itemPrice {
    font-size: 24px;
    color: #2ecc75;
}
.ligneCom{
    display: flex;
    align-items: center;
    justify-content: space-around;
}