<!DOCTYPE html>
<html  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorator="layout" >
<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    <title th:text="${categorie.name}"></title>
</head>
<body>

    <div class="row" layout:fragment="content">

        <div class="col-md-10 col-md-offset-1">
            <h1 class="text-center" th:text="${categorie.name}"></h1>
            <br />

            <br />
            <div class="panel panel-primary">
                <div class="panel-heading">tous les produits</div>
                <div class="panel-body">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Designation</th>
                                <th>Prix</th>
                                <th>Quantite</th>

                                <th>modifier</th>
                                <th>supprimer</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr th:each="p:${categorie.produits}">
                            <td th:text="${p.id}"></td>
                            <td th:text="${p.designation}"></td>
                            <td th:text="${p.prix}"></td>
                            <td th:text="${p.quantite}"></td>

                            <td><a th:href="@{edit(id=${p.id})}" class="btn btn-success">modifier</a></td>
                            <td><a onclick="return confirm('etes vous sur de vouloir supprimer ce produit ?')" th:href="@{delete(id=${p.id},mc=${mc},p=${pc})}" class="btn btn-danger">supprimer</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <!--<ul class="nav nav-pills">
                        <li th:each="p,status:${pageTot}" th:class="${pc}==${status.index}?'active':''">
                            <a th:href="@{all(page=${status.index},motcle=${mc})}"   th:text="${status.index}"></a>
                        </li>

                    </ul>-->
                </div>
            </div>
        </div>
    </div>

</body>
</html>