<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
    <title>Edition Produit</title>
</head>
<body>
<div class="container">
    <div class="row" layout:fragment="content">
        <div class="col-md-8 col-md-offset-2">
            <br /><br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Edition Produit</h3>
                </div>
                <div class="panel-body">

                    <form th:action="@{edit(id=*{id})}" method="post" th:object="${produit}" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="">Designation</label>
                            <input type="text"  class="form-control" th:field="*{designation}" />
                            <span class="text-danger" th:errors="*{designation}"></span>
                        </div>
                        <div class="form-group">
                            <label for="">Prix</label>
                            <input type="number"  class="form-control" th:field="*{prix}" />
                            <span class="text-danger" th:errors="*{prix}"></span>
                        </div>
                        <div class="form-group">
                            <label for="">Quantite</label>
                            <input type="number"  class="form-control" th:field="*{quantite}" />
                            <span class="text-danger" th:errors="*{quantite}"></span>
                        </div>
                        <div class="form-group">
                            <label for="">Categorie</label>
                            <select  th:field="*{categorie.id}" class="form-control">
                                <option th:each="cat:${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Photo</label>
                            <input type="file"  class="form-control" name="image" />
                        </div>
                        <button type="submit" class="btn btn-primary">Modifier</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>