<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="front/front-layout">
<head xmlns:th="http://www.thymeleaf.org">

    <meta charset="UTF-8" />
    <title>Nos Produits</title>
</head>
<body>
<div layout:fragment="content">

            <div class="col-md-9" style="padding-top: 40px;">
                <div class="panel panel-default  panel--styled">
                    <div class="panel-body">
                        <form th:action="@{/add-panier}" method="get">
                        <div class="col-md-12 panelTop">
                            <div class="col-md-4">
                                <img class="img-responsive" th:src="@{../getPhoto(id=${produit.id})}" alt=""/>
                            </div>
                            <div class="col-md-8">
                                <h2 th:text="${produit.designation}"></h2>
                                <p>Lorem ipsum dolor sit amet, altera propriae iudicabit eos ne. Vel ut accusam tacimates, prima oratio ius ea. Et duo alii verterem principes, te quo putent melius fabulas, ei scripta eligendi appareat duo.</p>
                                <br/><br/>
                                <div class="form-inline">
                                    <label for="">Quantite a commander :</label>
                                    <input type="hidden" name="id" th:value="${produit.id}"/>
                                    <input type="number" name="qte" class="form-control" value="1" />
                                    <label>KG</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 panelBottom">
                            <div class="col-md-4 text-center">
                                <button class="btn btn-lg btn-add-to-cart"><i class="fa fa-shopping-cart" style="font-size: 25px;"></i>  Ajouter au panier</button>
                            </div>
                            <div class="col-md-4 text-left">
                                <h5>Prix : <span class="itemPrice" th:text="${produit.prix+' FCFA'}">3500 F CFA</span> /KG</h5>
                            </div>
                            <div class="col-md-4">

                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>







    <!-- Modal -->


</body>
</html>