<!DOCTYPE html>
<html lang="en">
<head xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" />
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../static/js/bootsrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8" />
    <title>PicojazzShop</title>
</head>
<body>
<div class="navbar-wagon ">
    <!-- Logo -->    <a href="/" class="navbar-wagon-brand">
        Picojazz Shop
    </a>

    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">

        <a href="#" class="navbar-wagon-item navbar-wagon-link">Accueil</a>
        <a href="#" class="navbar-wagon-item navbar-wagon-link">Services</a>
        <a href="#" class="navbar-wagon-item navbar-wagon-link">Contactez-nous</a>

        <!-- Profile picture with dropdown list -->
        <!--<div class="navbar-wagon-item">
            <div class="dropdown">
                <img src="https://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
                <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Log Out</a></li>
                </ul>
            </div>
        </div>
    </div>-->

    <!-- Dropdown appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
        <div class="dropdown">
            <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
                <li><a href="#">Host</a></li>
                <li><a href="#">Trips</a></li>
                <li><a href="#">Messagese</a></li>
            </ul>
        </div>
    </div>
</div>
</div>

<section class="banner img-responsive">
    <div class="banner-content">
        <div class="title">Picojazz Nature </div>
        <div class="banner-text">
            Nous vous proposons des produits frais à moindres coûts
        </div>
        <br/><br/>
        <div class="banner-btn">
            <a href="#" class="btn-treehouse " style="padding:10px 50px 10px 50px;" >Voir nos produits <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
    </div>
</section>
<section class="lastProd">
    <div style="padding-left: 50px;padding-top:35px;">
        <span class="lastProd-title">Nos derniers produits </span>
    </div>
    <div class="container">
        <div class="row">
            <div class="row">

                <div class="col-md-3 col-md-offset-9">
                    <!-- Controls -->
                    <div class="controls pull-right hidden-xs">
                        <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example"
                           data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example"
                                                    data-slide="next"></a>
                    </div>
                </div>

            </div>
            <br />
            <div id="carousel-example" class="carousel slide " data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div th:each="p,status:${produits}" th:if="${status.index &lt; 4}" class="col-sm-3">
                                <div class="col-item">
                                    <div class="photo">
                                        <img th:src="@{getPhoto(id=${p.id})}" class="img-responsive" alt="a" />
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h5 th:text="${p.designation}">
                                                    Sample Product</h5>
                                                <h5 th:text="${p.prix}+' F cfa'" class="price-text-color">
                                                    $199.99</h5>
                                            </div>
                                            <div class="rating hidden-sm col-md-6">
                                                <h3>1 KG</h3>
                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                            <p class="btn-add">
                                                <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class=" price-text-color">ajout au panier</a></p>
                                            <p class="btn-details">
                                                <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" >Plus details</a></p>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                                <br/>
                            </div>

                        </div>

                    </div>
                    <div class="item">
                        <div class="row">
                            <div th:each="p,status:${produits}" th:if="${status.index &gt; 3}" class="col-sm-3">
                                <div class="col-item">
                                    <div class="photo">
                                        <img th:src="@{getPhoto(id=${p.id})}" class="img-responsive" alt="a" />
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-6">
                                                <h5 th:text="${p.designation}">
                                                    Sample Product</h5>
                                                <h5 th:text="${p.prix}+' F cfa'" class="price-text-color">
                                                    $199.99</h5>
                                            </div>
                                            <div class="rating hidden-sm col-md-6">
                                                <h3>1 KG</h3>
                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                            <p class="btn-add">
                                                <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class=" price-text-color">ajout au panier</a></p>
                                            <p class="btn-details">
                                                <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" >Plus details</a></p>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                                <br/>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
<section class="partner">

</section>

</body>
</html>