<!DOCTYPE html>
<html lang="en">
<head xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" />
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../static/js/bootsrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <meta charset="UTF-8" />
    <title>PicojazzShop</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<section class="banner img-responsive">
    <div class="banner-content">
        <div class="title">Picojazz Nature </div>
        <div class="banner-text">
            Nous vous proposons des produits frais à moindres coûts
        </div>
        <br/><br/>
        <div class="banner-btn">
            <a th:href="@{/product-all}" class="btn-treehouse " style="padding:10px 50px 10px 50px;" >Voir nos produits <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
    </div>
</section>
<section class="lastProd">
    <div style="padding-left: 50px;padding-top:35px;">
        <span class="lastProd-title">Nos derniers produits </span>
    </div>
    <div class="container">
        <div class="row">
            <div class="row">

                <div class="col-md-3 col-md-offset-9">
                    <!-- Controls -->
                    <div class="controls pull-right hidden-xs">
                        <a class="left fa fa-chevron-left btn btn-success" href="#carousel-example"
                           data-slide="prev"></a><a class="right fa fa-chevron-right btn btn-success" href="#carousel-example"
                                                    data-slide="next"></a>
                    </div>
                </div>

            </div>
            <br />
            <div id="carousel-example" class="carousel slide " data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                            <div th:each="p,status:${produits}" th:if="${status.index &lt; 4}" class="col-sm-3">
                                <div class="col-item">
                                    <div class="photo">
                                        <img th:src="@{getPhoto(id=${p.id})}" class="img-responsive" alt="a" />
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-8">
                                                <h5 th:text="${p.designation}">
                                                    Sample Product</h5>
                                                <h5 th:text="${p.prix}+' F cfa'" class="price-text-color">
                                                    $199.99</h5>
                                                <a href="#" class="cat" th:text="${p.categorie.name}">categorie</a>
                                            </div>
                                            <div class="rating hidden-sm col-md-4">
                                                <h3>1 KG</h3>
                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                            <p class="btn-add">
                                                <i class="fa fa-shopping-cart"></i><a th:href="${'#myModal'+p.id}" data-toggle="modal"  class=" price-text-color">ajout au panier</a></p>
                                            <p class="btn-details">
                                                <i class="fa fa-list"></i><a th:href="${'/product-all/'+p.id}" >Plus details</a></p>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                                <br/>
                            </div>

                        </div>

                    </div>
                    <div class="item">
                        <div class="row">
                            <div th:each="p,status:${produits}" th:if="${status.index &gt; 3}" class="col-sm-3">
                                <div class="col-item">
                                    <div class="photo">
                                        <img th:src="@{getPhoto(id=${p.id})}" class="img-responsive" alt="a" />
                                    </div>
                                    <div class="info">
                                        <div class="row">
                                            <div class="price col-md-8">
                                                <h5 th:text="${p.designation}">
                                                    Sample Product</h5>
                                                <h5 th:text="${p.prix}+' F cfa'" class="price-text-color">
                                                    $199.99</h5>
                                                <a href="#" class="cat" th:text="${p.categorie.name}">categorie</a>
                                            </div>
                                            <div class="rating hidden-sm col-md-4">
                                                <h3>1 KG</h3>
                                            </div>
                                        </div>
                                        <div class="separator clear-left">
                                            <p class="btn-add">
                                                <i class="fa fa-shopping-cart"></i><a href="http://www.jquery2dotnet.com" class=" price-text-color">ajout au panier</a></p>
                                            <p class="btn-details">
                                                <i class="fa fa-list"></i><a href="http://www.jquery2dotnet.com" >Plus details</a></p>
                                        </div>
                                        <div class="clearfix">
                                        </div>
                                    </div>
                                </div>
                                <br/>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
<section class="partner">
    <div style="padding-left: 50px;padding-top:35px;color:black;">
        <span class="lastProd-title" style="color:#757575 ;border-bottom: 5px #757575  solid;">Nos Partenaires </span>
        <br/>
        <br/>
    </div>
    <div class="container text-center">
        <div class="col-md-3"><img src="../../img/partner.png" alt="" width="150" height="150" /></div>
        <div class="col-md-3"><img src="../../img/partner.png" alt="" width="150" height="150" /></div>
        <div class="col-md-3"><img src="../../img/partner.png" alt="" width="150" height="150" /></div>
        <div class="col-md-3"><img src="../../img/partner.png" alt="" width="150" height="150" /></div>
    </div>
</section>
<section class="contact" style="padding-bottom: 120px;">
    <div style="padding-left: 50px;padding-top:35px;color:black;">
        <span class="lastProd-title" >Contact </span>
        <br/>
        <br/>
    </div>
    <div class="container" style="color:white;">
        <div class="col-md-6">
    <div class="form-group">
        <label for="">Nom :</label>
        <input type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label for="">Email :</label>
        <input type="email" class="form-control" />
    </div>
    <div class="form-group">
        <label for="">Message :</label>
        <textarea class="form-control" id="" cols="30" rows="5"></textarea>
    </div>
    <a href="#" class="btn btn-default btn-lg ">Envoyer</a>

        </div>
        <div class="col-md-6 text-center" style="color:white;font-size: 20px;font-weight: bold;padding-top: 60px;">
            Senegal,Dakar, Ouakam, en face de la de l'ecole stella maris <br/>
            BP : 3310 <br/>
            TEL : 77 000 00 00 <br/>
            FIXE : 33 000 00 00 <br/>

        </div>

    </div>
</section>
<div class="footer">
    <div class="footer-links">
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
    <div class="footer-copyright" style="color: white;opacity: 0.5;">
        @Copyright Picojazz 2017
    </div>
</div>
<!--modal-->
<div th:each="p:${produits}" class="modal fade" th:id="${'myModal'+p.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form th:action="@{/add-panier}" method="get">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel" th:text="${p.designation}">Modal title</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-6">
                            <img th:src="@{../getPhoto(id=${p.id})}" width="250" height="250" alt="" />
                        </div>
                        <div class="col-md-6">

                            <div class="form-group">
                                <label for="">Code Produit :</label>
                                <label th:text="${p.id}"></label>
                                <input type="hidden" name="id" th:value="${p.id}" />
                            </div>
                            <div class="form-group">
                                <label for="">Designation :</label>
                                <label th:text="${p.designation}"></label>
                            </div>
                            <div class="form-group">
                                <label for="">Prix :</label>
                                <label th:text="${p.prix+' Fcfa / KG'}"></label>
                            </div>
                            <div class="form-inline">
                                <label for="">Quantite a commander :</label>
                                <input type="number" name="qte" class="form-control" value="1" />
                                <label>KG</label>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Ajouter au panier</button>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>